<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>

            <input class="form-control" type="text" name="postTitle" required autofocus>

            <label>Post</label>
            <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

    <%- include("partials/footer"); -%>

        <!-- text area is used to create an infinite long text space
    and its given initials as here  -->

        <!-- form group is a bootstrapClass -->